Body {
    text-align: center;
    background-color: paleturquoise;
}

h2 {
    color: blueviolet;
}

h3 {
    color: darkorchid;
}

h4 {
    color: darkmagenta;
}

h5 {
    color: darkviolet;
}

img {
    width: 650
}
